<header class="bird-box">
  <div class="container-bird-box">
    <div class="overlay">
      <div class="back-bird"></div>
      <div class="logo"></div>
      <div class="fore-bird"></div>
    </div>
  </div>

</header>
<div class="container">

  <div class="container-about">
    <section class="content">
      <article>
        <h1>Brigadeiro Style</h1>
        <hr>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
          aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
          Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur
          sint occaecat cupidatat non proident, sunt in culpa.</p>
        <hr>
        <div class="container-photos">
          <div class="row">
            <div class="col col-container">
              <figure>
                <img src="/assets/image1.jpg" alt="">
                <figcaption>BlackBird Trousers -
                  <strong>$135</strong>
                </figcaption>
              </figure>
            </div>
            <div class="col col-container">
              <figure>
                <img src="/assets/image4.jpg" alt="">
                <figcaption>BlackBird Trousers -
                  <strong>$135</strong>
                </figcaption>
              </figure>

            </div>
            <div class="col col-container">
              <figure>
                <img src="/assets/image3.jpg" alt="">
                <figcaption>BlackBird Trousers -
                  <strong>$135</strong>
                </figcaption>
              </figure>
            </div>
          </div>
          <div class="row">
            <div class="col col-container">
              <figure>
                <img src="/assets/image4.jpg" alt="">
                <figcaption>BlackBird Trousers -
                  <strong>$135</strong>
                </figcaption>
              </figure>
            </div>
            <div class="col col-container">
              <figure>
                <img src="/assets/image5.jpg" alt="">
                <figcaption>BlackBird Trousers -
                  <strong>$135</strong>
                </figcaption>
              </figure>
            </div>
            <div class="col col-container">
              <figure>
                <img src="/assets/image6.jpg" alt="">
                <figcaption>BlackBird Trousers -
                  <strong>$135</strong>
                </figcaption>
              </figure>
            </div>
          </div>
        </div>

      </article>
      <br>
      <br>
      <br>
      <h1>Unique Style</h1>
      <hr>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
        aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
        Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur
        sint occaecat cupidatat non proident, sunt in culpa.</p>
      <hr>

      <div class="revealer-container">
        <div class="revealer">
          <div class="window-tint">
            <div class="promo-text">
              Brigadeiro de Churros
              <strong>
                <span>from</span> R$ 0.99</strong>
              <a routerLink="/">Shop Now</a>
            </div>
          </div>
        </div>
      </div>

      <br>
      <br>
      <br>
      <h1>Fine Tayloring</h1>
      <hr>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
        aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
        Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur
        sint occaecat cupidatat non proident, sunt in culpa.</p>
      <hr>


<div class="card-container">
    <div class="card" style="background: url(https://receitasdorony.com.br/wp-content/uploads/2017/05/brigadeiro-gourmet-comprar-kyocera-phone-reviews-rinnai-flued-gas-heaters-radiant-convection-heater-Brigadeiro-Gourmet-de-Caf%C3%A9.jpg); background-size: 200%;
    background-position: center;">
        <div class="wrapper">
          <div class="header">

            <div class="date">
              <span class="day">03</span>
              <span class="month">Jan</span>
              <span class="year">2018</span>
            </div>
            <ul class="menu-content">
              <li>
                <a href="#" class="fa fa-share-square-o">
                  <span>12<small>k</small></span>
                </a>
              </li>
              <li>
                <a href="#" class="fa fa-eye">
                  <span>17<small>k</small></span>
                </a>
              </li>
            </ul>
          </div>
          <div class="data">
            <h3 class="title">
              <a href="#">Já provou o novo Brigadeiro de Café?</a>
            </h3>
            <div class="cta-wrapper">
              <a href="" class="readme-btn2">
                <span></span>Read more</a>
            </div>
          </div>
        </div>
      </div>
      <div class="card" style="background: url(https://guiadacozinha.com.br/wp-content/uploads/2017/09/brigadeiro-ninho-nutella.jpg);
      background-size: 200%;
      background-position: center;">
        <div class="wrapper">
          <div class="header">

            <div class="date">
              <span class="day">03</span>
              <span class="month">Jan</span>
              <span class="year">2018</span>
            </div>
            <ul class="menu-content">
              <li>
                <a href="#" class="fa fa-share-square-o">
                  <span>14<small>k</small></span>
                </a>
              </li>
              <li>
                <a href="#" class="fa fa-eye">
                  <span>15<small>k</small></span>
                </a>
              </li>
            </ul>
          </div>
          <div class="data">
            <h3 class="title">
              <a href="#">Receita de Brigadeiro Branco com Nutella</a>
            </h3>
            <div class="cta-wrapper">
              <a href="" class="readme-btn2">
                <span></span>Read more</a>
            </div>
          </div>
        </div>
      </div>
      <div class="card" style="background: url(http://www.curtamais.com.br/uploads/midias/e177d885877c5bc35e3597496e01b41f.jpg);
      background-size: 200%;
      background-position: center;">
        <div class="wrapper">
          <div class="header">

            <div class="date">
              <span class="day">03</span>
              <span class="month">Jan</span>
              <span class="year">2018</span>
            </div>
            <ul class="menu-content">
              <li>
                <a href="#" class="fa fa-share-square-o">
                  <span>9<small>k</small></span>
                </a>
              </li>
              <li>
                <a href="#" class="fa fa-eye">
                  <span>11<small>k</small></span>
                </a>
              </li>
            </ul>
          </div>
          <div class="data">
            <h3 class="title">
              <a href="#">Tudo o que você precisa saber sobre os Ovos da Páscoa</a>
            </h3>
            <div class="cta-wrapper">
              <a href="" class="readme-btn2">
                <span></span>Read more</a>
            </div>
          </div>
        </div>
      </div>

</div>




      <!-- <div class="blog-container">
            <div class="blog-post post-1">
              <div class="blog-img"><img src="/assets/dessert1.png" alt=""></div>
              <div class="blog-content"></div>
            </div>
            <div class="blog-post center">
              <div class="blog-img"><img src="/assets/dessert1.png" alt=""></div>
              <div class="blog-content"></div>
            </div>
            <div class="blog-post post-3">
              <div class="blog-img"><img src="/assets/dessert1.png" alt=""></div>
              <div class="blog-content"></div>
            </div>
          </div> -->


      <!-- <div class="blog-posts row">
            <div class="container">
              <div class="post col post-1">
                <h5>Post Title</h5>
                <img src="assets/image1.jpg">
                <p>Incididunt ut labore et dolore magna.</p>
                <p>
                  <a href="" class="button">Read More</a>
                </p>
              </div>
              <div class="post col post-2">
                <h5>Post Title</h5>
                <img src="assets/image3.jpg">
                <p>Lorem ipsum dolor sit amet.</p>
                <p>
                  <a href="" class="button">Read More</a>
                </p>
              </div>
              <div class="post col post-3">
                <h5>Post Title</h5>
                <img src="assets/image4.jpg">
                <p>Duis aute irure dolor in reprehenderit.</p>
                <p>
                  <a href="" class="button">Read More</a>
                </p>
              </div>
            </div>
          </div> -->
      <br>
      <br>
      <br>
      <h1>Contact Us</h1>
      <hr>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
        aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
        Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur
        sint occaecat cupidatat non proident, sunt in culpa.</p>
      <hr>

    </section>
  </div>

</div>