<nav class="navbar navbar-expand-lg navbar-expand-sm navbar-expand-md fixed-top decoration">
  <div class="container">
    <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </a>
    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
      <ul class="nav navbar-nav ml-auto s-font">
        <li class="nav-item">
          <a class="nav-link" routerLink="/about">ABOUT</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/">PRODUCTS</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/shopping-cart">CART</a>
        </li>
        <ng-template #anonymousUser>
          <li *ngIf="!user" class="nav-item">
            <a class="nav-link" routerLink="/login">LOGIN</a>
          </li>
        </ng-template>
        <!-- ngbDropdowns are directives from ng-bootstrap -->
        <li *ngIf="appUser; else anonymousUser" ngbDropdown class="nav-item dropdown">
          <a ngbDropdownToggle class="nav-link dropdown-toggle pointer" id="dropdown01" data-toggle="dropdown" aria-haspopup="true"
            aria-expanded="false">
            {{ appUser.name }}
          </a>
          <div ngbDropdownMenu class="dropdown-menu" aria-labelledby="dropdown01">
            <a class="dropdown-item" routerLink="/my/orders">My Orders</a>
            <ng-container *ngIf="appUser.isAdmin">
              <a class="dropdown-item" routerLink="/admin/orders">Manage Orders</a>
              <a class="dropdown-item" routerLink="/admin/products">Manage Products</a>
            </ng-container>
            <a class="dropdown-item" routerLink="/" (click)="logout()">Log out</a>
          </div>
        </li>
      </ul>

    </div>
  </div>
</nav>